.calendar {
  width: 228px;
  border-radius: 2px;
  background-color: #F9F9F9;
  padding: 18px 8px;

  div,ul,li {
    margin: 0;
    padding: 0;
  }

  ul,li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  .calendar-header {
    width: 100%;
    text-align: center;
    height: 28px;
    color: #333333;
    font-size: 16px;
  }

  .calendar-header>i{
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: -1px;
    position: relative;
    cursor: pointer;
  }

  .calendar-header>span {
    margin: 0 50px;
  }

  .calendar-header>.icon-left:before,
  .calendar-header>.icon-left:after,
  .calendar-header>.icon-right:before,
  .calendar-header>.icon-right:after
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
  }

  .calendar-header>.icon-left:before {
    border: 7px solid red;
    border-color: transparent #666 transparent transparent;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .calendar-header>.icon-left:after {
    border: 7px solid #fff;
    border-color: transparent #fff transparent transparent;
    -webkit-transform: translateX(-40%);
    -moz-transform: translateX(-40%);
    -ms-transform: translateX(-40%);
    -o-transform: translateX(-40%);
    transform: translateX(-40%);
  }

  .calendar-header>.icon-right:before {
    border: 7px solid red;
    border-color: transparent transparent transparent #666;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
  }

  .calendar-header>.icon-right:after {
    border: 7px solid #fff;
    border-color: transparent transparent transparent #fff;
    -webkit-transform: translateX(40%);
    -moz-transform: translateX(40%);
    -ms-transform: translateX(40%);
    -o-transform: translateX(40%);
    transform: translateX(40%);
  }

  .calendar-body>.c-body-head {
    width: 100%;
    display: flex;
  }

  .calendar-body>.c-body-head>li {
    flex : 1;
    text-align: center;
    padding-top: 4px;
    height: 32px;
    font-size: 14px;
    color: #999999;
  }

  .calendar-body>.c-body-content {
    width: 100%;
  }

  .calendar-body>.c-body-content>ul {
    display: flex;
  }

  .calendar-body>.c-body-content>ul>li {
    flex: 1;
    text-align: center;
    padding-top: 4px;
    height: 30px;
  }

  .content-row>.item-gray>a {
    color: #CCCCCC;
  }

  .content-row>.item-tag>a {
    position: relative;
  }

  .content-row>.item-tag>a:after{
    content: '';
    width: 4px;
    height: 4px;
    position: absolute;
    top: -1px;
    right: 0;
    -webkit-transform: translate3D(-50%, 70%, 0);
    -moz-transform: translate3D(-50%, 70%, 0);
    -ms-transform: translate3D(-50%, 70%, 0);
    -o-transform: translate3D(-50%, 70%, 0);
    transform: translate3D(-50%, 70%, 0);
    background-color: #FF7070;
    border-radius: 50%;
  }

  .content-row>li {
    width: 30px;
    height: 30px;
  }

  .content-row>li>a {
    width: 22px;
    height: 22px;
    text-align: center;
    display: inline-block;
    padding-top: 3px;
    font-size: 12px;
    color: #333333;
  }

  .content-row>li>a:hover {
    background-color: #E5E5E5;
    border-radius: 4px;
    height: 22px;
    width: 22px;
  }

  .content-row>.item-current, .content-row>.item-active {
    text-align: center;
  }
  .content-row>.item-current>a {
    background-color: #55AEFF !important;
    color: #fff !important;
    border-radius: 4px;
    height: 22px;
    width: 22px;
  }

  .content-row>.item-active>a {
    background-color: #FFA040 !important;
    color: #fff !important;
    border-radius: 4px;
    height: 22px;
    width: 22px;
  }

  .content-row>.item-tag {
    &.item-current, &.item-active {
      a:after {
        background-color: #fff !important;
      }
    }
  }

}